{
  "extends": "spur",
  "env": {
    "es6": true,
    "mocha": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "max-len": 0,
    "arrow-body-style": 0
  }
}
