{
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": ["node"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "node/no-unsupported-features": [2, {
        "version": 6
      }
    ],
    "arrow-parens": ["error", "always"],
    "no-shadow": 0,
    "radix": 0,
    "keyword-spacing": 0,
    "consistent-return": 0,
    "arrow-body-style": 0,
    "no-use-before-define": 0,
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "semi": ["error", "always"],
    "one-var": [
      "error",
      {
        "uninitialized": "always"
      }
    ]
  }
}
